Build/
DerivedData/
*.DS_Store
*.o
*.d
*.dia
*.hmap
paani.xcodeproj/project.xcworkspace/xcuserdata/debanshu.xcuserdatad
paani.xcodeproj/xcuserdata/debanshu.xcuserdatad
paani/thirdparty/assimp-3.1.1/workspaces/
Houdini_Template/
